.App {
  text-align: center;
}

h1 {
  text-shadow: 5px 5px 5px #707275;
}

#root {
  background-color: #efdb04;
  padding-bottom: 40px;
}

body,
html,
#root {
  height: 100%;
}

.App-header {
  background-color: #efdb04;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchBox {
  padding-left: 5px;
  border: 1px solid black;
  min-width: 30vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #707275;
}

h1 {
  font-size: 62px;
  padding: 0px;
}

#title {
  transition: all ease-in-out 300ms;
  font-size: 82px;
  padding-bottom: 20px;
}

.column {
  display: flex;
  flex-flow: row-wrap;
}

#title:hover {
  transform: translate(0px, -10px);
}

.form {
  text-align: center;
}
.resultsContainer {
  margin: 0 auto;
  text-align: center;
}

.resultInfo {
  text-align: center;
  width: 100%;
  height: 100%;
}

.beerCard {
  padding: 0px;
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  border: 3px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5em;
  max-height: 20vh;
  max-width: 90vw;
}

.beerInfo {
  min-width: 90%;
  width: 90%;
  display: flex;
}
#beerNameText {
  width: 80%;
  text-align: left;
  display: flex;
  overflow-wrap: break-word;
  margin-right: auto;
  font-size: 30px;
}

#beerTaglineText {
  text-align: left;
  width: 80%;
  font-size: 25px;
  padding-left: 20px;
  margin-right: 20px;
}

#detailsButton {
  width: 10%;
  height: 50%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#thumbnail {
  display: inline-block;
  max-height: 10vh;
  max-width: 10vw;
}

.detailsContainer {
  padding-top: 50px;
}

.detailsContent {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  height: 100%;
  width: 85vw;
}

.titleContainer {
  width: 85vw;
  margin: auto;
}

.statsContainer {
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  display: flex;
  justify-content: flex-start;
}
#statItem {
  padding-right: 20px;
  font-size: 18px;
  border: 2px solid black;
  padding-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  border-spacing: 15px;
}

#detailsTitle {
  font-size: 50px;
}

#detailsTagline {
  font-size: 22px;
}

#beerPhoto {
  float: left;
  max-height: 300px;
  max-width: 300px;
}

#detailsText {
  text-align: left;
  margin-left: 90px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  max-width: 60%;
}

#backButton {
  position: absolute;
  bottom: 25px;
  right: 55px;
}
